input {
  border: none;
  border-radius: 28px;
  background-color: var(--input-background-color);
  font-family: var(--primary-font);
  font-size: 0.8em;
  height: 56px;
  padding: 18px 0 18px 34px;
}

/* input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  background-color: rgb(151, 222, 250);
} */

/* .input-email {
} */
.input-email::placeholder,
.input-password::placeholder {
  color: var(--placeholder-color);
  opacity: 0.7;
}
.input-password {
  color: #4a4b4d;
}
