.form {
  color: black;
  display: grid;
  row-gap: 1rem;
  text-align: center;
}
.btn {
  border-radius: 28px;
  font-family: var(--primary-font);
  font-size: 1rem;
  color: white;
  background: var(--main-color);
  border: none;
  padding: 10px 20px;
  height: 56px;
}
.form .input {
  margin-top: 2em;
}

.form__hint a {
  margin-left: 0.5em;
}

.form__otp {
  /* background: darkkhaki; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
}

.form__otp input {
  padding: 10px;
  width: 2.8rem;
  border-radius: 10px;
}
.message {
  color: red;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  height: 2em;
}
