<section class="cards-container">
  <!-- Asian -->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1568919618505-13f7d9eb373f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8YXNpYW4lMjBmb29kfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60"
      alt="Card image cap"
    />
    <p class="card-text">Asian</p>
  </div>
  <!-- Italian -->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1546549032-9571cd6b27df?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8aXRhbGlhbiUyMGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60"
      alt="Card image cap"
    />
    <p class="card-text">Italian</p>
  </div>
  <!-- German -->
  <div class="card">
    <img
      class="card-img"
      src="https://images.unsplash.com/photo-1610452229974-74c9283a3873?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Z2VybWFuJTIwZm9vZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60"
      alt="Card image cap"
    />
    <p class="card-text">German</p>
  </div>
</section>
