.cards-container {
  background-color: moccasin;
  column-gap: 2em;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  overflow-x: auto;
  padding: 1rem;
}
.cards-container::after {
  content: "";
  padding-right: 0.1em;
}
.cards-container::-webkit-scrollbar {
  display: none;
}
.card {
  box-sizing: border-box;
}
.card-img {
  object-fit: cover;
  width: 88px;
  height: 88px;
  border-radius: 20px;
}
.card-text {
  color: var(--primary-font-color);
  text-align: center;
  font-size: 0.8em;
  font-weight: 700;
  margin: 0;
}
.priority {
  order: -1;
}
