.welcome {
  background-image: url("../../assets/BackgroundIcons.svg");
  height: 100vh;
  width: 100vw;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  place-items: center;
  align-content: center;
  /* justify-content: center; */
  grid-gap: 6px;
}
.logo-text {
  font-size: 34px;
  font-weight: 900;
  margin: 0;
}
.color-primary {
  color: var(--main-color);
}
.welcome > * {
  margin: 0;
}

@media (prefers-color-scheme: dark) .color-primary {
  color: lime;
}

@media print (min-width: 400px) .color-primary {
  color: yellow;
}
