@font-face {
  font-family: "Metropolis";
  src: url("./assets/metropolis.woff2") format("woff2"),
    url("./assets/metropolis.woff") format("woff"),
    url("./assets/metropolis.ttf") format("ttf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #fc6011;
  --primary-font-color: #4a4b4d;
  --secondary-font-color: #7c7d7e;
  --placeholder-color: #b6b7b7;
  --input-background-color: #f2f2f2;
  --facebook-btn-color: #367fc0;
  --google-btn-color: #dd4b39;
  --primary-font: "Quicksand", sans-serif;
  /* --primary-font: "Times", serif; */

  --color-secondary: rgb(96, 235, 15);
  --color-primary: #fc6011;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--primary-font);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

a,
a:visited,
a:active,
a:hover {
  color: #fc6011;
  font-weight: bold;
  text-decoration: none;
}
